* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Karla;
    background-color: #e6eff6;
    font-size: 16px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    width: 600px;
    height: 460px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 15px 0px rgba(0, 0, 0, 0.75);
    overflow: hidden;
}

.part {
    height: 50%;
    padding: 40px;
}

#part1 {
    width: 100%;
    background-color: white;
    padding-right: 30px;
}

#part2,
#part3 {
    width: 50%;
    color: white;
}

#part2 {
    background-color: #2bb3b1;
    padding-right: 22px;
}

#part3 {
    background-color: #4abebd;
}

#part1 h1 {
    color: #4ebbbd;
}

#part1 h3 {
    margin-top: 20px;
    color: #bfdf32;
}

#part1 p {
    margin-top: 10px;
    opacity: 0.4;
}

#price {
    display: flex;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 20px;
}

#price p {
    margin-left: 5px;
    opacity: 0.6;
}

button {
    width: 96%;
    margin-left: 2%;
    margin-top: 30px;
    height: 40px;
    background-color: #bfdf32;
    border: 1px solid #77c46c;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    color: white;
    font-size: 1.2rem;
}

ul {
    list-style: none;
    margin-top: 20px;
    opacity: 0.6
}

@media(max-width:614px) {
    body {
        align-items: normal;
    }

    main {
        display: block;
        min-height: 0px;
        overflow: visible;
        width: 300px;
        box-shadow: none;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #part2,
    #part3 {
        width: 300px;
    }

    #part1,
    #part2,
    #part3 {
        height: auto;
    }
}